<div id="contact" class="session">
  <h3 class="title">Entre em contato comigo :)</h3>
  <div class="contact">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="social-media-container">
          <div class="social-media">
            <a href="https://www.linkedin.com/in/lucasrsouza-ti/" target="_blank">
            <img class="mr-3 mb-3" src="assets/svg/linkedin-logo.svg"/>
            <p class="mb-3">Linkedin</p>
            </a>
            <a href="https://www.github.com/luccasdev" target="_blank">
            <img class="mr-3" src="assets/svg/github-logo.svg"/>
            <p>GitHub</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="email-container">
          <div class="contact-form-group m-3">
            <label for="email" class="mb-2">Seu e-mail:</label>
            <input id="email" type="email" class="contact-input"/>
          </div>
          <div class="contact-form-group m-3">
            <label for="name" class="mb-2">Seu nome:</label>
            <input id="name" type="text" class="contact-input"/>
          </div>
          <div class="contact-form-group m-3">
            <label for="subject" class="mb-2">Assunto:</label>
            <input id="subject" type="text" class="contact-input"/>
          </div>
          <div class="contact-form-group m-3">
            <label for="cellphone" class="mb-2">Celular:</label>
            <input id="cellphone" type="text" class="contact-input"/>
          </div>
          <div class="contact-form-group m-3">
            <label for="message" class="mb-2">Mensagem:</label>
            <textarea id="message" class="contact-input"></textarea>
          </div>
          <div class="button-footer">
            <button class="secondary-button float-right">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
