<div class="session" id="about">
  <h3 class="title">Sobre</h3>
  <div style="margin: 0;" class="row">
    <div class="text-about-me">
      <p class="normal-text">
        Apaixonado por <b>inovação</b> e <b>tecnologia</b>, desde cedo
        tive o contato com o universo <b>Java</b>.
      </p>
      <p class="normal-text">
        Gosto de criar soluções, desenhar fluxos e elaborar maneiras
        eficientes para solucionar problemas com programação.
      </p>
      <p class="normal-text">
        Atuo e já atuei em projetos do Mercado Financeiro, chatbots
        com Inteligência Artificial e projetos voltados para startups.
      </p>
    </div>
    <div class="text-center avatar-with-computer">
      <img src="assets/svg/avatar-with-computer.svg" alt="avatar-with-computer">
    </div>
  </div>
</div>
