@import "src/shared/variables";

.session {
  background-color: #1E1E1E;
  max-width: 100%;
  padding: 2%;
}

.text-about-me {
  width: 60%;
  padding: 1em;
}

.avatar-with-computer {
  width: 40%;
}

@media screen and (max-width: $max-width-to-mobile-view) {

  .avatar-with-computer {
    display: none;
  }

  .normal-text {
    text-align: center;
  }

  .text-about-me {
    width: 100%;
  }
}
