<div class="navigation-bar">
  <div class="navigation-menu">
    <button *ngIf="!showToggleMenu" (click)="toggleMenu()" class="navigation-menu-button closed"></button>
    <button *ngIf="showToggleMenu" (click)="toggleMenu()" class="navigation-menu-button opened"></button>
  </div>
  <div *ngIf="showToggleMenu" class="navigation-menu-buttons-popup">
    <div [class.active]="selectedNavigationMenuType === menuTypes.ABOUT" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.ABOUT)">Sobre</div>
    <div [class.active]="selectedNavigationMenuType === menuTypes.SKILLS" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.SKILLS)">Skills</div>
    <div [class.active]="selectedNavigationMenuType === menuTypes.EXPERIENCE" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.EXPERIENCE)">Experiência</div>
    <div [class.active]="selectedNavigationMenuType === menuTypes.PROJECTS" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.PROJECTS)">Projetos</div>
    <div [class.active]="selectedNavigationMenuType === menuTypes.ARTICLES" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.ARTICLES)">Artigos</div>
    <div [class.active]="selectedNavigationMenuType === menuTypes.CONTACT" class="navigation-button-inside-menu" (click)="changeNavigation(menuTypes.CONTACT)">Contato</div>
  </div>
  <div class="navigation-bar-image">
    <img src="assets/svg/lucas.svg" alt="image-about-me"/>
  </div>
  <div class="navigation-bar-right-group">
    <div class="navigation-about-me">
    <span>
      Eu sou o <b>Lucas Souza</b>,
      Desenvolvedor full stack.
    </span>
    </div>
    <div class="navigation-button-group">
      <div [class.active]="selectedNavigationMenuType === menuTypes.ABOUT" class="navigation-button" (click)="changeNavigation(menuTypes.ABOUT)">Sobre</div>
      <div [class.active]="selectedNavigationMenuType === menuTypes.SKILLS" class="navigation-button" (click)="changeNavigation(menuTypes.SKILLS)">Skills</div>
      <div [class.active]="selectedNavigationMenuType === menuTypes.EXPERIENCE" class="navigation-button" (click)="changeNavigation(menuTypes.EXPERIENCE)">Experiência</div>
      <div [class.active]="selectedNavigationMenuType === menuTypes.PROJECTS" class="navigation-button" (click)="changeNavigation(menuTypes.PROJECTS)">Projetos</div>
      <div [class.active]="selectedNavigationMenuType === menuTypes.ARTICLES" class="navigation-button" (click)="changeNavigation(menuTypes.ARTICLES)">Artigos</div>
      <div [class.active]="selectedNavigationMenuType === menuTypes.CONTACT" class="navigation-button" (click)="changeNavigation(menuTypes.CONTACT)">Contato</div>
    </div>
  </div>
</div>
