<div class="navigation-bar">
  <div class="navigation-menu">
    <button *ngIf="!showToggleMenu" (click)="toggleMenu()" class="navigation-menu-button closed"></button>
    <button *ngIf="showToggleMenu" (click)="toggleMenu()" class="navigation-menu-button opened"></button>
  </div>
  <div *ngIf="showToggleMenu" class="navigation-menu-buttons-popup">
    <div *ngFor="let menu of menuOptions">
      <div *ngIf="menuOptions.length > 0" [class.active]="selectedNavigationMenu.type === menu.type" class="navigation-button-inside-menu" (click)="changeNavigation(menu)">{{menu.label}}</div>
    </div>
  </div>
  <div class="navigation-bar-image">
    <img src="assets/svg/lucas.svg" alt="image-about-me"/>
  </div>
  <div class="navigation-bar-right-group">
    <div class="navigation-about-me">
    <span>
      Eu sou o <b>Lucas Souza</b>,
      Desenvolvedor full stack.
    </span>
    </div>
    <div class="navigation-button-group">
      <div *ngFor="let menu of menuOptions">
        <div *ngIf="menuOptions.length > 0" [class.active]="selectedNavigationMenu.type === menu.type" class="navigation-button-inside-menu" (click)="changeNavigation(menu)">{{menu.label}}</div>
      </div>
    </div>
  </div>
</div>
