@import "src/shared/variables";

.navigation-bar {
  background-color: #131313;
  display: block;
  height: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: $lateral-bar-width;
  justify-content: center;
}

.navigation-button-group {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  width: 100%;
}

.navigation-about-me {
  font-size: 0.8em;
  flex: 0.6;
  max-width: 16em;
  text-align: center;
}

.navigation-button {
  background-color: $primary-color;
  color: #232427;
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
  padding: 5px;
  min-width: 116px;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;

  &.active {
    background-color: #131313;
    border-color: $primary-color;
    border-style: solid;
    border-width: 1px;
    color: $primary-color;
    cursor: pointer;
  }
}

.navigation-button:hover {
  background-color: #131313;
  border-color: $primary-color;
  border-style: solid;
  border-width: 1px;
  color: $primary-color;
  cursor: pointer;
}

.navigation-bar-right-group {
  width: 100%;
  flex: 0.2;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navigation-bar-image {
  flex: 0.4;
  justify-content: center;
  display: flex;
  padding: 10px;
  height: fit-content;
}

.navigation-menu-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
  margin-right: 15px;
  display: none;
  border: none;
  outline: none;

  &.closed {
    background-image: url('/assets/svg/menu.svg');
  }

  &.opened {
    background-image: url('/assets/svg/close.svg');
  }
}

.navigation-menu-buttons-popup {
  width: 100%;
  display: none;
  position: fixed;
  margin-top: 50px;
  background-color: #1E1E1E;
  z-index: 1;
  overflow-y: scroll;
}

.navigation-button-inside-menu {
  background-color: $primary-color;
  color: #131313;
  font-size: 1em;
  font-weight: 600;
  padding: 6.9px;
  min-width: 116px;
  margin: 23px 10px 10px;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;

  &.active {
    background-color: #131313;
    border-color: $primary-color;
    border-style: solid;
    border-width: 1px;
    color: $primary-color;
    cursor: pointer;
  }
}

.navigation-button-inside-menu:hover {
  background-color: #131313;
  border-color: $primary-color;
  border-style: solid;
  border-width: 1px;
  color: $primary-color;
  cursor: pointer;
}

@media screen and (max-width: $max-width-to-mobile-view) {
  .navigation-bar {
    background-color: #232427;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    position: relative;
    width: 100%;
  }

  .navigation-about-me {
    font-size: 1.2em;
    flex: 0.6;
    max-width: 16em;
  }

  .navigation-button-group {
    display: flex;
    flex-direction: row;
    flex: 0.2;

    .navigation-button:first-child {
      margin-left: 0;
    }
  }

  .navigation-bar {
    text-align: center;
    justify-content: center;
    padding: 0;
  }

  .navigation-bar-image {
    flex: auto;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }

  .navigation-bar-right-group {
    flex: auto;
    width: 100%;
    align-items: center;
  }

  .navigation-button-group {
    display: none;
  }

  .navigation-about-me {
    flex: auto;
    width: 100%;
    font-size: 1.2em;
  }

  .navigation-menu-button {
    display: block;
  }

  .navigation-menu-buttons-popup {
    display: block;
  }
}

.navigation-menu {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  background-color: #232427;
  z-index: 1;
}

