<div class="navigation-bar">
  <div class="navigation-menu">
    <button class="navigation-menu-button"></button>
  </div>
  <div class="navigation-bar-image">
    <img src="assets/lucas.svg"/>
  </div>
  <div class="navigation-bar-right-group">
    <div class="navigation-about-me">
    <span>
      Eu sou o <b>Lucas Souza</b>,
      Desenvolvedor full stack.
    </span>
    </div>
    <div class="navigation-button-group">
      <div class="navigation-button">Sobre</div>
      <div class="navigation-button">Skills</div>
      <div class="navigation-button">Experiência</div>
      <div class="navigation-button">Projetos</div>
      <div class="navigation-button">Artigos</div>
      <div class="navigation-button">Contato</div>
    </div>
  </div>
</div>
