<div class="session" id="projects">
  <h3 class="title">Projetos Open Source</h3>
  <div class="projects">
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-header">
        <p class="project-title">Project Title</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">6</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">6</span>
        </div>
      </div>
      <div class="project-description">
        <p>Descrição exemplo, exemplo exemplo de descrição.</p>
      </div>
    </div>
  </div>
</div>
<div class="button-footer">
  <button (click)="openGitHubPage()" class="secondary-button float-right">Ver mais</button>
</div>

