<div class="session" id="projects">
  <h3 class="title">Projetos Open Source</h3>
  <div class="projects">
    <div *ngFor="let project of projects" (click)="openRepository(project.url)" class="project-container">
      <div class="project-header">
        <p class="project-title">{{project.title}}</p>
        <div class="project-stats">
          <img src="assets/svg/github-star.svg" alt="github-star"/>
          <span class="ml-2 mr-4">{{project.countStars}}</span>
          <img src="assets/svg/github-fork.svg" alt="github-fork"/>
          <span class="ml-2">{{project.countForks}}</span>
        </div>
      </div>
      <div class="project-description">
        <p>{{project.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="button-footer">
  <button (click)="openGitHubPage()" class="secondary-button float-right">Ver mais</button>
</div>

