@import "src/shared/variables";

.title {
  margin-bottom: 2em;
}

.session {
  padding: 2%;
  max-width: 100%;
  background-color: #232427;
}

.projects {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  background-color: #131315;
  padding: 1em;
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 0.4em;
  cursor: pointer;
}

.project-header {
  display: flex;
}

.project-title {
  flex: 1;
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0.3em;
}

.button-footer {
  padding-right: 11.3%;
}

.project-description {
  font-size: 0.8em;
  font-weight: 200;
  padding: 1em;
}

@media screen and (max-width: $max-width-to-mobile-view) {
  .project-container {
    width: 100%;
    margin: 0 0 2em;
  }
  .session {
    flex-direction: column;
  }
  .button-footer {
    padding-right: 0;
  }
}

