.session {
  background-color: #232427;
  max-width: 100%;
  padding: 2%;
}

.skills-title {
  font-weight: 200;
}

.progress-bar-100-percent {
  background: #00BE7A;
  padding: 3px;
  border-radius: 5px;
}

.progress-bar-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 20px;
}
