<div class="session">
  <h3 class="title">Skills</h3>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 text-center">
          <h4 class="skills-title mt-4"><b>Java</b> - Nível: Avançado</h4>
        </div>
      </div>
      <div class="row mt-2 justify-content-center">
        <div class="col-sm-2 text-center">
          <img src="assets/svg/java-logo.svg" alt="java-logo"/>
        </div>
        <div class="col-sm-6 progress-bar-container">
          <p class="mb-2">100%</p>
          <div class="progress-bar-100-percent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
