@import "src/shared/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: #2D2E32;
  color: white;
  font-family: $default-font-family;
}

b {
  font-weight: bold;
}
.content-wrapper {
  padding: 30px;
}

.title {
  font-size: 2.6em;
  font-family: $default-font-family;
  color: $primary-color;
  font-weight: 200;
}
@media screen and (max-width: $max-width-to-mobile-view) {
  .title {
    text-align: center;
  }
}

.normal-text {
  font-size: 17px;
  font-family: $default-font-family;
  color: $secondary-color;
  font-weight: 300;
  white-space: pre-wrap;
  margin-top: 10px;
  margin-bottom: 15px;
}

.primary-button {
  background-color: $primary-color;
  color: #232427;
  font-size: 1.2em;
  font-weight: 600;
  padding: 16px;
  min-width: 116px;
  margin: 23px 10px 10px;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
}

.secondary-button {
  background-color: #1E1E1E;
  border-color: $primary-color;
  border-style: solid;
  border-width: 1px;
  color: $primary-color;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 9px;
  margin: 23px 10px 10px;
  text-align: center;
}
