<div class="session" id="experience">
  <h3 class="title">Experiência</h3>
  <div class="experience-map">
    <div class="start">
      Início
    </div>
    <svg width="16" height="107" viewBox="0 0 16 107" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="8" cy="4.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <ellipse cx="8" cy="72.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <path d="M8 107L0.205772 94.25H15.7942L8 107Z" fill="#00BE7A"/>
      <rect x="4" y="14" width="8" height="49" rx="4" fill="#00BE7A"/>
    </svg>
    <div class="company-description">
      <p class="experience-period mt-4 mb-4">Abril de 2019 - Janeiro de 2020</p>
      <p class="mt-4 mb-5"><span>Empresa: </span>
        <img src="assets/svg/omotor-logo.svg"/>
      </p>
      <P><span>Sobre: </span>
        Tive a grande oportunidade de trabalhar  na OMotor, uma startup que produz soluções  com Inteligência Artificial.  Atuei em dois projetos utilizando computação cognitiva com IBM Watson.
      </P>
      <div class="experience-technologies mt-4 mb-4">
        <span>Tecnologias: </span>
        <div>
      <img src="assets/svg/java-logo.svg" alt="java-logo"/>
      <img src="assets/svg/spring-logo.svg" alt="spring-logo"/>
      <img src="assets/svg/angular-logo.svg" alt="angular-logo"/>
      <img src="assets/svg/nodejs-logo.svg" alt="nodejs-logo"/>
      <img src="assets/svg/aws-logo.svg" alt="aws-logo"/>
      </div>
    </div>
  </div>
    <svg width="16" height="107" viewBox="0 0 16 107" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="8" cy="22.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <ellipse cx="8" cy="4.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <ellipse cx="8" cy="40.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <ellipse cx="8" cy="58.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <ellipse cx="8" cy="76.5" rx="5" ry="4.5" fill="#00BE7A"/>
      <path d="M8 107L0.205772 94.25H15.7942L8 107Z" fill="#00BE7A"/>
    </svg>
    <div class="company-description">
      <p class="experience-period mt-4 mb-4">Janeiro de 2020 - Atualmente</p>
      <p><span>Empresa: </span>
        <img src="assets/svg/reply-logo.svg"/>
      </p>
      <P><span>Sobre: </span>
        Recebi um grande desafio, para participar do time de inovação, em um grande cliente.
        O principal objetivo foi o desenvolvimento de uma nova plataforma financeira com diversos módulos.
        Participando efetivamente desde o começo do projeto. Utilizando Scrum e Kanban como metodologia ágil.
      </P>
      <div class="experience-technologies mt-4 mb-4">
        <span>Tecnologias: </span>
        <div>
          <img src="assets/svg/java-logo.svg" alt="java-logo"/>
          <img src="assets/svg/spring-logo.svg" alt="spring-logo"/>
          <img src="assets/svg/angular-logo.svg" alt="angular-logo"/>
          <img src="assets/svg/gcp-logo.svg" alt="gcp-logo"/>
          <img src="assets/svg/netflix-oss-logo.svg" alt="netflix-oss-logo"/>
        </div>
      </div>
    </div>
  </div>
</div>
